<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BroadCast.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Broadcast.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>BroadcastSetupUI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>BroadcastUI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>BroadcastUploadExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>BroadcastUploadExtensionSetupUI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>StreamingExample.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B90085632D8F7A6E00C05FCD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B90085732D8F7A7000C05FCD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B900857D2D8F7A7000C05FCD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B90086352D8FE80100C05FCD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B90086472D8FEA2A00C05FCD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
